package views

import (
	"github.com/crgeary/wishlist/components"
)

templ Index() {
	<!DOCTYPE html>
	<html lang="en-gb">
		<head>
			@components.Head(components.HeadProps{
				Title: "Wi$hli$t",
			})
		</head>
		<body>
			<div class="container mx-auto">
				<p>Home</p>
				<nav>
					<a href="/signin">Sign In</a>
				</nav>
			</div>
			@components.Footer()
		</body>
	</html>
}
