package views

import (
    "github.com/crgeary/wishlist/components"
)

templ Index() {
    <!DOCTYPE html>
    <html lang="en-gb">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Wishlist</title>
        </head>
        <body>
            <p>Body</p>
            @components.Footer()
        </body>
    </html>
}
