package components

type LayoutProps struct {
	HeadProps
}

templ Layout(props LayoutProps) {
	<!DOCTYPE html>
	<html lang="en-gb">
		<head>
			@Head(props.HeadProps)
		</head>
		<body>
			{ children... }
			@Footer()
		</body>
	</html>
}
